/* Container background matching the dark theme */
@media (prefers-color-scheme: dark) {
  .dark .leaflet-container {
    background: #242424 !important;
  }
}

html,
body {
  font-family: "Roboto", "sans-serif";
}

a {
  color: #1a0dab;
  text-decoration: underline;
}
a:hover {
  color: purple;
}

.inc {
  color: green;
}

.dec {
  color: red;
}
