/* Container background matching the dark theme */
@media (prefers-color-scheme: dark) {
  .dark .leaflet-container {
    background: #242424 !important;
  }
}

html,
body {
  font-family: "Roboto", "sans-serif";
}

td {
  font-variant-numeric: tabular-nums;
}

.direction-arrow {
  width: 14px;
  display: inline-block;
}

.airline-logo {
  width: 140px;
  height: 140px;
}

/* Custom flight-tracker classes prefixed with ft */
.ft-bg {
  background-color: var(--ft-bg-app);
}

.ft-bg-major-region {
  background-color: var(--ft-bg-major-region);
}

.ft-highlight-class {
  background-color: var(--ft-bg-highlight-class);
  color: var(--ft-color-highlight-class-text);
}

.ft-a-link {
  color: var(--ft-color-a-link);
  text-decoration: underline;
}

.ft-a-link:hover {
  color: var(--ft-color-a-link-hover);
}

.ft-inc {
  color: var(--ft-color-inc);
}

.ft-dec {
  color: var(--ft-color-dec);
}

.ft-bg-progress-bar {
  background-color: var(--ft-bg-progress-bar);
}

.ft-fill-progress-bar {
  background-color: var(--ft-fill-progress-bar);
}

.ft-button {
  color: var(--ft-color-button);
  background-color: var(--ft-bg-button);
}
.ft-button:hover {
  background-color: var(--ft-bg-button-hover);
}
.ft-button:active {
  background-color: var(--ft-bg-button-active);
}
.ft-button:focus {
  outline: 2px solid var(--ft-bg-button-focus);
}
.ft-bg-flight-list-header {
  background-color: var(--ft-bg-flight-list-header);
}

.ft-up-down {
  font-size: 11px;
}

.ft-left-right {
  font-size: 10px;
}

.ft-bg-major-region {
  background-color: var(--ft-bg-major-region);
}

.ft-text-airline {
  color: var(--ft-text-airline);
}

.ft-text-late {
  color: var(--ft-text-late);
}

.ft-text-early {
  color: var(--ft-text-early);
}
